.header {
    
    
    background-color: rgba(0, 215, 253, 0.671);
    text-align: center 
}
.col-sm-4 {
    
    margin-right: 20px;
}
.col-7 {
    border: 1px solid black;
}
.daycast {
    
    background-color: rgba(0, 215, 253, 0.671);
    margin: 5px;
    border-radius: 5%;
}
.forecastTitle {
text-align: center !important;
color: salmon;
}
.high {
    background-color: red;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
.medium {
    background-color: yellow;
    padding: 10px;
    border-radius: 10%;
    color: black;
}
.low {
    background-color:green;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
#searchResults {
    background-color: rgba(0, 215, 253, 0.671);
    list-style: none;
}
.list-group-item {
    border: none;
}
.headerText {
    text-align: center !important;
}